body {
    font-size:10px;
    font-family: tahoma;
    background-color: #F0FFFF;
    color: #333;
    text-align: center;
}

h1 {
    margin: 10px 20px 10px 20px;
}
#tudo{
    width: 100%;
    background: #ffffff;
    font-size: 10px;
    text-align: center;
}